h1{
    color:black;
}

.display{
    background-color: grey;
    height: 2em;
    text-align: center;
}

.container{
    background-color: darkblue;
    max-width: 600px;
    margin:auto;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    font-size: large;
    color: whitesmoke;
    
}

.buttons{
    display:flex;
    gap: 80px;
}

.buttons .numbers{
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.buttons .operators{
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.row .numbers{
    flex-wrap: nowrap;
}

.numbers button{
    background-color: aquamarine;
    border-radius: 50%;
}

.operators button{
    background-color: orangered;
    border-radius: 15%;
}